body {
    overflow-x: hidden;
}

/* ! NAVBAR */

.logo {
    height: 9vh;
}

.bg-img {
    width: 100%;
    object-fit: cover;
    filter: brightness(0.9);
    position: relative; 

}


.btnContact {
    background-color: #B89F86;
    color: white;
    width: 150px; 
}

.btnContact:hover {
    background-color: #ffffff4d;
}

/* ! SECTION 1 ! */

.bg-custom {
    background-color: #B89F86; 
  }

  .bg-custom img {
    width: 80px;  
    height: 80px; 
    object-fit: contain; 
}
  
 .btnProject {
    background-color: #7C8A77;
    color: #ffffff;
    width: 150px;
    
  }

  .btnProject:hover {
    color: #ffffff;
    background-color: #B89F86;
}
  
.white-text{
    color: #F5F5F5
}
  
.icon-line2 {
    height: 2px;
    background-color: rgba(245, 245, 245, 0.5); ;
    width: 20%; 
    margin: 0 auto; 
  }

.icon-line {
    height: 2px;
    background-color: #F5F5F5; 
    width: 5%; 
    margin: 0 auto; 
}


/* ! CONTACT ! */

.contact-section {
    background-color: #ffffff;
}

.contact-section .logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}


.logo-swissroc {
    height: 50px;
}

.logo-amtech {
  height: 80px;
}


.btnContact2 {
    background-color: #175BAD;
    color: white;
    width: 150px; 
}

.btnContact2:hover {
    color: #ffffff;
    background-color: #B89F86;
}

.contact-link {
    color: black;          /* Set text color to black */
    text-decoration: none; /* Remove underline */
    transition: text-decoration 0.3s; /* Smooth transition for the underline */
}

.contact-link:hover,
.contact-link:focus {
    text-decoration: underline; /* Add underline on hover and focus */
}

@media (max-width: 767px) {
  .contact-section .logo-container {
    display: flex; /* Ensure it's a flex container */
    flex-direction: row; /* Arrange items in a row */
    align-items: center; /* Center align the items vertically */
    justify-content: center;
    text-align: center; /* Center align the items horizontally */
  }

  .logo {
    margin: 5px; /* Add some space around each logo */
  }
}



 /* ! FOOTER ! */

.footer {
    background-color: #7C8A77; 
}

.text-custom, .privacy-link {
    color: #E8EDF1; 
}

.privacy-link {
    text-decoration: none; 
}

.privacy-link:hover {
    text-decoration: underline;
}



/* ! SECTION WITH MARBLE BB ! */

.bg-img-spokoj-section {
    background-image: url("/assets/augustine-wong-li0iC0rjvvg-unsplash 1.png");
    background-repeat: no-repeat;
    background-position: left top;
}

@media (max-width: 1800px) {
    .bg-img-spokoj-section {
        background-repeat: repeat; /* Change to repeat on screens smaller than medium */
        /* Change the position to center on screens smaller than medium */
    }
}
    
.image-translate{
    transform: translateY(-100px) translateX(-80px);  
}

@media (max-width: 1300px) {
    .image-translate {
      transform: none;
      transform: translateY(-100px);
     /* Dostosuj wartość paddigu według potrzeb */
    }
  }


 /* ! CAROUSEL ! */
.carousel-background {
  background: url('/assets/Bg-carousel.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 40vh; /* Full viewport height */
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%; /* Full height to help center the carousel */
}

.carousel-inner {
  width: 90%; /* Adjust this width to make the carousel wider */
  max-width: 1200px; /* Increase the maximum width as necessary */
  margin: 0 auto; /* Center the carousel */
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 450px; 
  transition: transform 0.3s ease-in-out, opacity 0.5s;
}

.carousel-item.next,
.carousel-item.prev {
  transform: scale(0.85);
  opacity: 0.5;
}

.carousel-item.active {
  transform: scale(1.1);
  opacity: 1;
  z-index: 1;
}

.carousel-item.inactive {
  opacity: 0;
  visibility: hidden;
}

.carousel-image {
  max-width: 100%; /* Make images responsive to fit the container */
  max-height: 100%; /* Make images responsive to fit the container */
  width: auto;
  height: auto;
  object-fit: contain; /* Ensures the image fits within the container without distortion */
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Adjust as needed */
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 5;
}

.carousel-control-prev {
  left: 10px; /* Adjust as needed */
}

.carousel-control-next {
  right: 10px; /* Adjust as needed */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 100%; /* Adjust as needed */
  height: 100%;
  background-size: 100%, 100%;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .carousel-item {
    height: fit-content;
    max-height: 280px;  /* Set carousel items to occupy full width */
  }
}


  
  

  
  
  
  
  

 

  
  
  

  
  
  
  
  
  
  
  


  
  
  
  
  