<!-- Main image -->
<img class="bg-img" src="/assets/Bg-house-karowa.jpg">

<!-- Navbar Section -->
<nav class="navbar navbar-expand-lg navbar-dark my-3 position-absolute top-0 start-0 w-100" style="z-index: 10;">
    <div class="container">
      <div class="navbar-brand">
        <img class="logo" src="/assets/Logo.png" alt="Logo">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item px-4">
            <a class="nav-link prata-regular" aria-current="page" href="https://drive.google.com/drive/folders/1pR7s8-sTrerpMHPPU34F-XOKbLwG0oAu?usp=sharing">Projekt</a>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link prata-regular" href="#karowa">Lokalizacja</a>
          </li>
          <li class="nav-item px-4">
            <a class="btn btnContact prata-regular" role="button" href="#contact">Kontakt</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--Karowa 26 SECTION  -->
  <div id="karowa"><br></div>
<section >
    <div class="container my-5">
        <div class="row">
          <div class="col-xl-4">
            <h2 class="mb-4 prata-regular text-center">KAROWA 26</h2>
            <p class="lora-regular mx-4">Witamy w oazie luksusu w sercu prywatności, gdzie nowoczesność spotyka się z doskonałością. Nasz ekskluzywny projekt zapewnia nie tylko wyrafinowane wnętrza, ale również najnowsze rozwiązania technologiczne, gwarantujące oszczędność energii i komfort na najwyższym poziomie. </p>
            <p class="lora-regular mx-4"> Odkryj niezrównany standard mieszkania, gdzie każdy detal został zaprojektowany z myślą o Twoim wyjątkowym doświadczeniu. Zapraszamy do Karowa 26 - Twojego nowego wymarzonego domu!"</p>
            <div class="text-center">
              <a href="https://drive.google.com/drive/folders/1pR7s8-sTrerpMHPPU34F-XOKbLwG0oAu?usp=sharing" class="btn btnProject lora-regular mt-3 mb-5" role="button">Projekt</a>
          </div>
          
           </div>
         <div class="col-xl-8">
            <img src="/assets/img-karowa26.jpg" alt="Interior Design" class="img-fluid">
          </div>
        </div>
        </div>
</section>

<!-- BROWN BG SECTION WITH ICONS -->

<section>
  <div class="row bg-custom mt-5 p-5 text-center">
    <p></p>
    <div class="col-md-4 my-5">
      <img src="/assets/home.png" alt="Custom House" class="mb-3">
      <div class="icon-line my-2"></div>
      <div class="icon-line2 mt-2 mb-4"></div>
      <p class="white-text bodoni-moda mb-2">OCHRONA I PRYWATNOŚĆ W DOMU -  KOMFORT W BEZPIECZNYM OTOCZENIU!</p>
      <div class="icon-line my-2"></div>
    </div>
    <div class="col-md-4 my-5">
      <img src="/assets/sparkle.png" alt="Quality Standard" class="mb-3">
      <div class="icon-line my-2"></div>
      <div class="icon-line2 mt-2 mb-4"></div>
      <p class="white-text bodoni-moda mb-2">DOSKONAŁOŚĆ ŻYCIA W WYSOKIM STANDARDZIE!</p>
      <div class="icon-line my-2"></div>
    </div>
    <div class="col-md-4 my-5">  
      <img src="/assets/sun.png" alt="Sustainable" class="mb-3">
      <div class="icon-line my-2"></div>
      <div class="icon-line2 mt-2 mb-4"></div>
      <p class="white-text bodoni-moda mb-2">PRZESTRONNE WNĘTRZA I WYJĄTKOWY KOMFORT W PROMIENIACH SŁOŃCA!</p>
      <div class="icon-line my-2"></div>
    </div>
    <p></p>
    <p></p>
  </div> 
</section>
     
<!-- SECTION WITH MARBLE BG & PICS -->
<section class="mb-5">
  <!-- Background -->
  <div class="bg-img-spokoj-section">
    
    <!-- First Row -->
    <div class="row">
      <!-- First Row, First Col -->
      <div class="col-md-6 align-items-center text-center">
        <div class="row">
          <div class="col-xl-2"></div>
          <div class="col-xl-6">
            <h2 class="prata-regular text-center" style="padding-top: 200px;">SPOKÓJ</h2>
            <p class="lora-regular text-center m-5">
              Rozkoszuj się pięknem naturalnego światła wpadającego przez duże okna
              i świetliki, oświetlając każdy zakątek swojego domu. Nasz przemyślany projekt
              maksymalizuje ekspozycję na światło słoneczne, tworząc jasne i zachęcające przestrzenie mieszkalne,
              które poprawiają nastrój i samopoczucie.
            </p>
            <a href="#contact" class="btn btnProject lora-regular mb-5" role="button">Więcej</a>
            <p class="mb-5"></p>
          </div>
        </div>
      </div>
      <!-- First row, second col -->
      <div class="col-md-6 mt-5">
        <img class="img-fluid image-translate" src="/assets/img-spokoj.jpg" alt="Standard Image">
      </div>
    </div>

    <!-- Second Row -->
    <div class="row">
      <!-- Second row, first col -->
      <div class="col-md-6 order-2 order-md-1 d-flex justify-content-end">
        <img class="img-fluid" src="/assets/img-standard.jpg" alt="Standard Image">
      </div>
      <!-- Second row, second col (mobile first) -->
      <div class="col-md-6 order-1 order-md-2 align-items-center text-center">
        <div class="row">
          <div class="col-xl-2"></div>
          <div class="col-xl-6">
            <h2 class="prata-regular text-center" style="padding-top: 150px;">STANDARD</h2>
            <p class="lora-regular text-center m-5">
              Doświadcz uosobienia elegancji i wyrafinowania dzięki naszemu wysokiemu
              standardowi wykończenia. Od wykwintnych podłóg z twardego drewna po designerską 
              armaturę, każdy szczegół jest starannie dopracowany, aby podnieść komfort życia.
            </p>
            <!-- <a href= "#contact" class="btn btnProject prata-regular mb-5" role="button">Więcej</a> -->
          </div>
        </div>  
      </div>
    </div>

  </div>
</section>




<!--! CAROUSEL ! -->
<br>
<br>
<div class="carousel-background d-flex justify-content-center align-items-center pt-5 pb-5">
  <div class="container d-flex justify-content-center align-items-center">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div *ngFor="let image of images; let i = index" class="carousel-item" [ngClass]="{'active': i === currentIndex, 'next': i === nextIndex, 'prev': i === prevIndex, 'inactive': i !== currentIndex && i !== nextIndex && i !== prevIndex}">
          <div class="d-flex justify-content-center align-items-center" style="height: 400px;">
            <img [src]="image" class="carousel-image" alt="Slide {{i + 1}}">
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" (click)="previousImage()">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" (click)="nextImage()">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<br>


<!-- CONTACT SECTION -->
<br>
<section class="contact-section mb-5 mt-5">
  <div class="container" id="contact">
      <div class="row align-items-center">
          <div class="col-md-6 text-center text-md-left justify-content-center align-items-center">
              <div class="logo-container mx-7 text-center">
                  <img src="/assets/amtech.png" alt="Amtech" class="logo logo-amtech">
                  <a href="https://swissroc.ch/en/">
                    <img src="/assets/swiss.png" alt="Swissroc" class="logo logo-swissroc">
                </a>
              </div>
          </div>
          <div class="col-md-6 text-md-right">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8 text-center">
                    <h2 class="prata-regular pt-5 pb-3">KAROWA 26</h2>
                    <p class="lora-regular">Twój wymarzony dom już teraz!</p>
                    <!-- Telephone Link -->
                    <a href="tel:+48606303003" class="contact-link d-flex align-items-center justify-content-center my-2">
                        <i class="bi bi-telephone-fill px-2"></i> +48 606303003
                    </a>
                    <!-- Email Link -->
                    <a href="mailto:domy.karowa&#64;gmail.com" class="contact-link d-flex align-items-center justify-content-center my-2">
                        <i class="bi bi-envelope-fill px-2"></i> domy.karowa&#64;gmail.com
                    </a>
                </div>
            </div>
        </div>
        
        
      </div>
  </div>

</section>





<!-- FOOTER -->


<footer class="footer bg-custom text-custom py-3 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-md-start text-center lora-regular">
        © 2024 Karowa™ powered by Ammer House. All Rights Reserved.
      </div>
      <div class="col-md-6 text-md-end text-center lora-regular">
        <a href="#" data-bs-toggle="modal" data-bs-target="#termsModal" class="privacy-link">Polityka prywatności</a>
      </div>
    </div>
  </div>
</footer>

<!-- TERMS AND CONDITIONS CALLED BY MODAL -->

<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="termsModalLabel">Warunki Prywatności</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="lead">
          <h3 class="mt-4 lead">1) Postanowienia ogólne</h3>
          <p class="lead">
            Niniejsza Polityka Prywatności określa zasady przetwarzania danych osobowych oraz prawa Użytkowników, zawiera informacje dotyczące Administratora Danych Osobowych, a także wykorzystania plików cookie. Dane osobowe Użytkowników są chronione przez MCM SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ zgodnie z przepisami Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych) oraz Sprostowania do Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych) oraz Ustawy z dnia 10 maja 2018 r. o ochronie danych osobowych.
          </p>
          <h3 class="lead">2) Podstawowe Pojęcia</h3>
          <p class="lead">
            Administrator danych osobowych – MCM SPÓŁKA Z OGRANICZONĄ ODPOWIEDZIALNOŚCIĄ, UL. ELBLĄSKA 14, 01-737 WARSZAWA.<br>
            RODO – Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE. Ustawa – ustawa z dnia 10 maja 2018 r. o ochronie danych osobowych.
          </p>
          <h3 class="lead">3) Cel Przetwarzania Danych Osobowych</h3>
          <p class="lead">
            Badanie satysfakcji Użytkownika oraz marketing promujący Administratora i jego produkty oraz usługi, co stanowi spełnienie warunku zgodności z prawem przetwarzania danych, określonego w art. 6 ust. 1 lit. f RODO, jako niezbędnych do celów wynikających z prawnie uzasadnionych interesów realizowanych przez Administratora.
          </p>
          <h3 class="lead">4) Odbiorca Danych Osobowych</h3>
          <p class="lead">
            Administrator może przekazać dane osobowe, wskazane w pkt 16, podmiotom uprawnionym do otrzymania danych osobowych na podstawie przepisów prawa, decyzji organu administracji publicznej lub orzeczenia sądowego.
          </p>
          <h3 class="lead">5) Pliki Cookie</h3>
          <p class="lead">
            Plik cookie to krótki tekst wysyłany do przeglądarki internetowej przez serwis internetowy, który w danej chwili odwiedza Użytkownik. Dzięki czemu serwis zapamiętuje informacje o ustawieniach przeglądarki, a następna wizyta Użytkownika na tej stronie jest bardziej efektywna, pozwalając na łatwiejsze logowanie do usług Administratora. Administrator może przetwarzać dane zawarte w plikach cookie, w następującym celu: dostosowanie funkcjonalności dostarczanych przez Administratora, zgodnie z oczekiwaniami Użytkownika, wliczając treści reklamowe i statystyki, co odbywa się anonimowo.
          </p>
          <h3 class="lead">6) Postanowienia Końcowe</h3>
          <p class="lead">
            W sprawach nieuregulowanych w Polityce Prywatności stosuje się przepisy prawa polskiego. Administrator może dokonać zmian w Polityce Prywatności w każdym czasie. Użytkownik odwiedzający stronę Administratora po raz pierwszy, zostanie poproszony o zapoznanie się z Polityką Prywatności. W każdym czasie wizyty na stronie internetowej Administratora, Użytkownik może także zapoznać się z aktualną Polityką Prywatności, stosując dedykowany odnośnik na dole strony.
          </p>
        </div>
      </div>
    </div>
  </div>
  