body {
    overflow-x: hidden;
}

.logo {
    height: 9vh;
}

.bg-img {
    width: 100%;
    object-fit: cover;
    filter: brightness(0.9);
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
}

.btnContact {
    background-color: #B89F86;
    color: white;
    width: 150px; 
}

.btnContact:hover {
    background-color: #ffffff4d;
}