<!-- Main image -->
<img class="bg-img" src="/assets/Camera_2_long_sky1 1.png">

<!-- Navbar Section -->
<nav class="navbar navbar-expand-lg navbar-dark my-3 position-absolute top-0 start-0 w-100" style="z-index: 10;">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="logo" src="/assets/Logo.png" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item px-4">
            <a class="nav-link prata-regular" aria-current="page" href="#">Projekt</a>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link prata-regular" href="#">Lokalizacja</a>
          </li>
          <li class="nav-item px-4">
            <button type="button" class="btn btnContact prata-regular">Kontakt</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--Karowa 26 SECTION  -->
<section>
    <div class="container my-5">
        <div class="row">
          <div class="col-xl-4">
            <h2 class="mb-4 prata-regular text-center">KAROWA 26</h2>
            <p class="prociono-regular mx-4">Witamy w oazie luksusu w sercu prywatności, gdzie nowoczesność spotyka się z doskonalosci. Nasz ekskluzywny projekt zapewnia nie tylko wyrafinowane wnętrza, ale również najnowsze rozwiązania technologiczne, gwarantujące oszczędność energii i komfort na najwyższym poziomie. </p>
            <p class="prociono-regular mx-4"> Odkryj niezrównany standard mieszkania, gdzie każdy detal został zaprojektowany z myślą o Twoim wyjątkowym doświadczeniu. Zapraszamy do Karowa 26 - Twojego nowego wymarzonego domu!"</p>
            <div class="text-center">
                <button type="button" class="btn btnProject prata-regular mt-3 mb-5">Projekt</button>
            </div>
           </div>
         <div class="col-xl-8">
            <img src="/assets/projekty.png" alt="Interior Design" class="img-fluid">
          </div>
        </div>
        </div>
</section>

<!-- BROWN BG SECTION WITH ICONS -->

<section>
  <div class="row bg-custom mt-5 p-5 text-center">
    <p></p>
    <div class="col-md-4 my-5">
      <img src="/assets/home.png" alt="Custom House" class="mb-3">
      <div class="icon-line my-2"></div>
      <div class="icon-line2 mt-2 mb-4"></div>
      <p class="white-text bodoni-moda mb-2">OCHRONA I PRYWATNOŚĆ W DOMU -  KOMFORT W BEZPIECZNYM OTOCZENIU!</p>
      <div class="icon-line my-2"></div>
    </div>
    <div class="col-md-4 my-5">
      <img src="/assets/sparkle.png" alt="Quality Standard" class="mb-3">
      <div class="icon-line my-2"></div>
      <div class="icon-line2 mt-2 mb-4"></div>
      <p class="white-text bodoni-moda mb-2">DOSKONAŁOŚĆ ŻYCIA W WYSOKIM STANDARDZIE!</p>
      <div class="icon-line my-2"></div>
    </div>
    <div class="col-md-4 my-5">  
      <img src="/assets/sun.png" alt="Sustainable" class="mb-3">
      <div class="icon-line my-2"></div>
      <div class="icon-line2 mt-2 mb-4"></div>
      <p class="white-text bodoni-moda mb-2">PRZESTRONNE WNĘTRZA I WYJĄTKOWY KOMFORT W PROMIENIACH SŁOŃCA!</p>
      <div class="icon-line my-2"></div>
    </div>
    <p></p>
    <p></p>
  </div> 
</section>
     
<!-- SECTION WITH MARBLE BG & PICS -->
<section class="mb-5">
  <!-- Background -->
  <div class="bg-img-spokoj-section">
    
    <!-- First Row -->
    <div class="row">
      <!-- First Row, First Col -->
      <div class="col-md-6 align-items-center text-center">
        <div class="row">
          <div class="col-xl-2"></div>
          <div class="col-xl-6">
            <h2 class="prata-regular text-center" style="padding-top: 200px;">SPOKÓJ</h2>
            <p class="prociono-regular text-center m-5">
              Rozkoszuj się pięknem naturalnego światła wpadającego przez duże okna
              i świetliki, oświetlając każdy zakątek swojego domu. Nasz przemyślany projekt
              maksymalizuje ekspozycję na światło słoneczne, tworząc jasne i zachęcające przestrzenie mieszkalne,
              które poprawiają nastrój i samopoczucie.
            </p>
            <button class="btn btnProject prata-regular mb-5">Więcej</button>
          </div>
        </div>
      </div>
      <!-- First row, second col -->
      <div class="col-md-6 mt-5">
        <img class="img-fluid image-translate" src="/assets/2061_V_02_Cam04.png" alt="Standard Image">
      </div>
    </div>

    <!-- Second Row -->
    <div class="row">
      <!-- Second row, first col -->
      <div class="col-md-6 order-2 order-md-1">
        <img class="img-fluid" src="/assets/2061_V_02_Cam04 (1).png" alt="Standard Image">
      </div>
      <!-- Second row, second col (mobile first) -->
      <div class="col-md-6 order-1 order-md-2 align-items-center text-center">
        <div class="row">
          <div class="col-xl-2"></div>
          <div class="col-xl-6">
            <h2 class="prata-regular text-center" style="padding-top: 200px;">STANDARD</h2>
            <p class="prociono-regular text-center m-5">
              Doświadcz uosobienia elegancji i wyrafinowania dzięki naszemu wysokiemu
              standardowi wykończenia. Od wykwintnych podłóg z twardego drewna po designerską 
              armaturę, każdy szczegół jest starannie dopracowany, aby podnieść komfort życia.
            </p>
            <button class="btn btnProject prata-regular mb-5">Więcej</button>
          </div>
        </div>  
      </div>
    </div>

  </div>
</section>


<!-- CONTACT SECTION -->

<section class="contact-section py-3 mb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-left">
                <div class="logo-container mx-5">
                    <img src="/assets/amtech.png" alt="Amtech" class="logo">
                    <img src="/assets/swiss.png" alt="Swissroc" class="logo logo-swissroc">
                </div>
            </div>
            <div class="col-md-6 text-md-right">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8 text-center">
                        <h2 class="prata-regular">KAROWA 26</h2>
                        <p class="prata-regular">Twój wymarzony dom już teraz!</p>
                        <button type="button" class="btn btn-primary btnContact2">Kontakt</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








<footer class="footer bg-custom text-custom py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-md-start text-center prata-regular">
          © 2024 Karowa™ powered by Ammer House. All Rights Reserved.
        </div>
        <div class="col-md-6 text-md-end text-center prata-regular">
          <a href="#privacy-policy" class="privacy-link">Polityka prywatności</a>
        </div>
      </div>
    </div>
  </footer>
  