body {
    overflow-x: hidden;
}

/* ! NAVBAR */

.logo {
    height: 9vh;
}

.bg-img {
    width: 100%;
    object-fit: cover;
    filter: brightness(0.9);
    position: relative; 

}


.btnContact {
    background-color: #B89F86;
    color: white;
    width: 150px; 
}

.btnContact:hover {
    background-color: #ffffff4d;
}

/* ! SECTION 1 ! */

.bg-custom {
    background-color: #B89F86; 
  }

  .bg-custom img {
    width: 80px;  
    height: 80px; 
    object-fit: contain; 
}
  
 .btnProject {
    background-color: #7C8A77;
    color: #ffffff;
    width: 150px;
    
  }

  .btnProject:hover {
    color: #ffffff;
    background-color: #B89F86;
}
  
.white-text{
    color: #F5F5F5
}
  
.icon-line2 {
    height: 2px;
    background-color: rgba(245, 245, 245, 0.5); ;
    width: 20%; 
    margin: 0 auto; 
  }

.icon-line {
    height: 2px;
    background-color: #F5F5F5; 
    width: 5%; 
    margin: 0 auto; 
}


/* ! CONTACT ! */

.contact-section {
    background-color: #ffffff;
}

.contact-section .logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}


.logo-swissroc {
    width: 266.76px;
    height: 64px;
}


.btnContact2 {
    background-color: #175BAD;
    color: white;
    width: 150px; 
}

.btnContact2:hover {
    color: #ffffff;
    background-color: #B89F86;
}




 /* ! FOOTER ! */

.footer {
    background-color: #7C8A77; 
}

.text-custom, .privacy-link {
    color: #E8EDF1; 
}

.privacy-link {
    text-decoration: none; 
}

.privacy-link:hover {
    text-decoration: underline;
}

.bg-img-spokoj-section{
    background-image: url("/assets/augustine-wong-li0iC0rjvvg-unsplash 1.png");
    height: 1800px;
}

.image-overlay {
    position: absolute;
    top: 22%;
    left: -80px; /* Adjust this value to control how much the image overlaps */
    transform: translateY(-50%);
    z-index: 10;
}

.relative-wrapper {
    position: relative;
}

@media (max-width: 767.98px) {
    .relative-wrapper {
        position: static;
    }
    .image-overlay {
        position: static;
        transform: none;
        left: 0;
        top: 0;
    }
}

.image-margin{
    margin-top: 300px;
}

.big-padding {
    padding-top: 1200px;
}

@media (max-width: 767px) {
    .big-padding {
      padding-top: 800px;
     /* Dostosuj wartość paddingu według potrzeb */
    }
  }